In [1]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]     
ages.sort()
a = min(ages)
b = max(ages)
print(a)
print(b)
ages.append(a)
print(ages)
ages.append(b)
print(ages)
c = len(ages)
s =(c-1)//2
median1 = (ages[s] + ages[s+1])/2
print(median1)
sum1 = sum(ages)
print(sum1)
avg = sum1/c
print(avg)
range1 = b-a
print(range1)

19
26
[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19]
[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
24.0
273
22.75
7

In [2]:
dog = dict()
dog["name"] = "BROWNIE"
dog["color"] = "BLACK"
dog["breed"] = "GREAT DANE"
dog["legs"] = "4"
dog["age"] = "9"
print(dog)

student = dict()
student["first_name"] = "SPARSHA"
student["last_name"] = "ADURI"
student["gender"] = "FEMALE"
student["age"] = "22"
student["hobbies"] = ["CRICKET" , "MUSIC"]
student["achievements"] = "STATE CHAMPION"
student["country"] = "INDIA"
student["city"] = "PDPL"
student["ph no"] = "+91 9378762761"
print(student)
length1 = len(student)
print(length1)
print(student["hobbies"])
print(type(student["hobbies"]))
student["hobbies"].extend(["STATE CHAMPOIN"])
print(student["hobbies"])
print(student.keys())
print(student.values())

{'name': 'BROWNIE', 'color': 'BLACK', 'breed': 'GREAT DANE', 'legs': '4', 'age': '9'}
{'first_name': 'SPARSHA', 'last_name': 'ADURI', 'gender': 'FEMALE', 'age': '22', 'hobbies': ['CRICKET', 'MUSIC'], 'achievements': 'STATE CHAMPION', 'country': 'INDIA', 'city': 'PDPL', 'ph no': '+91 9378762761'}
9
['CRICKET', 'MUSIC']
<class 'list'>
['CRICKET', 'MUSIC', 'STATE CHAMPOIN']
dict_keys(['first_name', 'last_name', 'gender', 'age', 'hobbies', 'achievements', 'country', 'city', 'ph no'])
dict_values(['SPARSHA', 'ADURI', 'FEMALE', '22', ['CRICKET', 'MUSIC', 'STATE CHAMPOIN'], 'STATE CHAMPION', 'INDIA', 'PDPL', '+91 9378762761'])

In [4]:
brothers = ("HEMA", "KARTHIK", "YASWANTH");
sisters = ("SRAVANI", "NAVYA", "BINDHU");
siblings = sisters + brothers;
print(siblings);
length1 = (siblings);
print(length1);
family_members = siblings + ("VIKAS", "KAVYA");
print(family_members);

('SRAVANI', 'NAVYA', 'BINDHU', 'HEMA', 'KARTHIK', 'YASWANTH')
('SRAVANI', 'NAVYA', 'BINDHU', 'HEMA', 'KARTHIK', 'YASWANTH')
('SRAVANI', 'NAVYA', 'BINDHU', 'HEMA', 'KARTHIK', 'YASWANTH', 'VIKAS', 'KAVYA')

In [5]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'} 
print(" length:",len(it_companies))  
it_companies.update(['twitter'])
print(it_companies)  
it_companies.remove("IBM")
print(it_companies)
it_companies.update({'Blueberry'})
print(it_companies)
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
X=A.union(B)
print(X)
Y=A.intersection(B)  
print(Y)
print(A&B)
print(A.issubset(B))  
print(A.isdisjoint(B)) 
print(A.symmetric_difference(B))   
X.clear()  
print(X)
age_list = [22, 19, 24, 25, 26, 24, 25, 24]
print("Age",len(age_list))
AGE_SET= set(age_list) 
print("Age",AGE_SET) 
print("Age",len(AGE_SET))

 length: 7
{'Apple', 'twitter', 'Microsoft', 'Facebook', 'Oracle', 'Amazon', 'Google', 'IBM'}
{'Apple', 'twitter', 'Microsoft', 'Facebook', 'Oracle', 'Amazon', 'Google'}
{'twitter', 'Amazon', 'Blueberry', 'Google', 'Apple', 'Microsoft', 'Facebook', 'Oracle'}
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26}
{19, 20, 22, 24, 25, 26}
True
False
{27, 28}
set()
Age 8
Age {19, 22, 24, 25, 26}
Age 5

In [6]:
r = 30
pi = 3.14
area_of_circle = pi*r**2  
res = 'The area of circle with {} is {}'.format(str(r), str(area_of_circle))
print(res)
circum_of_circle = 2*3.14*r 
print("circumference of circle:",circum_of_circle)
user_input=float(input()) 
raaadius=20
area_of_circle=pi*raaadius**2
print(area_of_circle)

The area of circle with 30 is 2826.0
circumference of circle: 188.4
15
1256.0

In [7]:
sentence="I am a teacher and I love to inspire and teach people"
unique_letter=set(sentence.split())
print("no.of unique words are ",len(unique_letter))

no.of unique words are  10

In [8]:
sequence="Name\tAge\tCountry\tCity\tASABNEH\t250\tFINLAND\tHELSINKI";
print(sequence);

Name	Age	Country	City	ASABNEH	250	FINLAND	HELSINKI

In [9]:
radius = 10
area = 3.14 * radius ** 2
print("The area of a circle with a radius %s is %s meters square." %(radius,area))

The area of a circle with a radius 10 is 314.0 meters square.

In [10]:
c=0.45
v=int(input("number of students")) 
l1=[]
l2=[]
for i in range(v):
    l1.append(int(input("enter weight in lbs:"+str(i+1)+" "))) 
    l2.append(round(l1[i]*0.453,2))
print("given weights in lbs:",l1)
print("converted weights in kgs:",l2)

number of students5
enter weight in lbs:1 145
enter weight in lbs:2 150
enter weight in lbs:3 152
enter weight in lbs:4 160
enter weight in lbs:5 158
given weights in lbs: [145, 150, 152, 160, 158]
converted weights in kgs: [65.69, 67.95, 68.86, 72.48, 71.57]